* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#hero-section {
    position: relative;
    height: 85vh;
    background-size: cover;
    background-image: linear-gradient(
        to right bottom,
        rgba(43, 134, 232, 0.80),
        rgba(142, 139, 144, 0.80),
        rgba(36, 202, 133, 0.80)),
    url(./images/bars.jpg);
    background-position: right;
}
h1 {
    font-family: 'Acacia 23';
    font-weight: 1400;
}    
#logo-holder {
    position: absolute;
    padding: 10px;
}
#logo {
    height: 100px;
}